<form (ngSubmit)="submitRecipe()" [formGroup]="recipeForm">
  <tr>
    <td>
      <label for="Title">Title</label>
    </td>
  </tr>
  <tr>
    <td>
      <input type="text" id="Title" formControlName="title">
    </td>
  </tr>

  <tr formArrayName="ingredient">
    <span>Ingredients</span>
    <button type="button" (click)="addIngredient()" style="font-weight: bold">+</button>
    <li *ngFor="let ingredient of ingredient.controls; let i=index">
      <input id="ingredient-{{ i }}" type="text" [formControlName]="i">
      <button type="button" (click)="removeIngredient(i)">X</button>
    </li>
  </tr>

  <tr>
    <td>
      <label for="Instruction">Instruction</label>
    </td>
  </tr>

  <tr>
    <td>
      <textarea id="Instruction" cols="25" rows="5" formControlName="instruction"></textarea>
    </td>
  </tr>

  <tr>
    <td>
      <label for="Image">Image URL:</label>
    </td>
  </tr>

  <tr>
    <td>
      <input type="text" id="Image" formControlName="image">
    </td>
  </tr>
  <button (click)="back()">back</button>
  <button type="submit" [disabled]="!recipeForm.valid">add</button>
</form>
